
@*@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        GEt The Data!
    </div>
</body>
</html>*@
<a href="http://www.baidu.com">这是一个连接</a>


<ul>
    <li>第一项</li>
    <li>第二项</li>
    <li>第三项</li>
</ul>