.mainmenu-summary{
    padding: 1em 0em;
    height: 25em;
    z-index: 10;
}
.mainmenu-ul{
    background-color: #ff5400;
    align-items: center;
    padding: 0em;
    border-top: #ff5400 solid 0.4em;
    border-bottom: #ff5400 solid 3em;
}
.mainmenu-header{
    display: block;
    border: #ff5400 solid 1px;
    padding: 0.5em;
    color: #FFF;
    cursor:pointer;
}
.mainmenu-header:hover{
    background-color:#ff1500;
}
.mainmenu-li{
    display: block;
    border: #ff5400 solid 1px;
    padding: 1em 3.5em;
    color: #fff;
}
.mainmenu-li a {
    color: #fff;
}
.mainmenu-li:hover{
    border-right-color: #fff;
    border-right-width: 5px;
    background-color: #FFF;
    color: #ff5400;
}
.mainmenu-li.active{
    border-right-color: #fff;
    border-right-width: 5px;
    background-color: #FFF;
    color: #ff5400;
}

.mainmenu-li:hover a{
    color: #ff5400;
}

.mainmenu-row{
    margin: 10px 10px;
}

.mainmenu-detail{
    margin: 3.68em 0em;
    background-color: #fff;
    min-height: 11em;
    border: #ff5400 solid 2px;
    left: -2px;
}

.mainmenu-detail-title {
    border-bottom: #ddd solid 3px;
}

.mainmenu-detail-heard {
    padding-left: 1em;
    font-size: 1.2em;
    color: #ff5400;
}
.mainmenu-detail-title span {
    margin: 1em;
    display: inline-block;
    font-size: 1.2em;
    color: #ff5400;
}

label.mainmenu-detail-list {
    margin: 0.2em;
    color: #888;
    font-weight: 400;
}

img.main-detail-brandlist {
    margin: 0.2em;
}

.col-xs-6.mainmenu-detail-title {
    border-width: 7px;
}